<div class="footer-container">
    <div class="footer-content">
        <div class="footer-column">
            <div class="footer-titles">Company <div class="bar-title"></div>
            </div>
            <ul style="font-family: var(--primary-font);">
                <li><a href="#"><fa-icon [icon]="faChevronRight" class="right-arrow-icon"></fa-icon>About
                        Us</a>

                </li>
                <li><a href="#"><fa-icon [icon]="faChevronRight" class="right-arrow-icon"></fa-icon>Contact Us</a></li>
                <li><a href="#"><fa-icon [icon]="faChevronRight" class="right-arrow-icon"></fa-icon>Reservation</a></li>
                <li><a href="#"><fa-icon [icon]="faChevronRight" class="right-arrow-icon"></fa-icon>Privacy Policy</a>
                </li>
                <li><a href="#"><fa-icon [icon]="faChevronRight" class="right-arrow-icon"></fa-icon>Terms &
                        Conditions</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <div class="footer-titles">Contact <div class="bar-title"></div>
            </div>
            <ul>
                <li><fa-icon [icon]="faLocationDot" class="right-arrow-icon"></fa-icon> 123 Street, New York, USA</li>
                <li><fa-icon [icon]="faPhone" class="right-arrow-icon"></fa-icon> +012 345 67890</li>
                <li><fa-icon [icon]="faEnvelope" class="right-arrow-icon"></fa-icon> info@example.com</li>
                <li class="social-icons">
                    <a> <img src="../../../assets/images/iconsSocials/icons8-twitter-bird.svg"
                            class="social-icon" /></a>
                    <a href="#"><img src="../../../assets/images/iconsSocials/icons8-facebook.svg"
                            class="social-icon" /></a>
                    <a href="#"><img src="../../../assets/images/iconsSocials/icons8-youtube.svg"
                            class="social-icon" /></a>
                    <a href="#"><img src="../../../assets/images/iconsSocials/linkedin-svgrepo-com.svg"
                            class="social-icon" /></a>
                </li>
            </ul>
        </div>
        <div class="footer-column">
            <div class="footer-titles">Opening <div class="bar-title"></div>
            </div>
            <ul>
                <li class="week-days">Monday - Saturday</li>
                <li>09AM - 09PM</li>
                <li class="week-days">Sunday</li>
                <li>10AM - 08PM</li>
            </ul>
        </div>
        <div class="footer-column">
            <div class="footer-titles">Newsletter <div class="bar-title"></div>
            </div>
            <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
            <div class="form-container">
                <form class="email-form">
                    <input type="email" placeholder="Your email" class="email-input"
                        style="padding-left: 30px;   border: 1px solid var(--bs-primary);" />
                    <div class="button-container">
                        <button type="submit" class="submit-button">SIGNUP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="divisor">
        <hr style="border-color: #3a3f43;" />
    </div>

    <div class="footer-bottom">
        <div class="first-part-footer-bottom">

            © Your Site Name, All Rights Reserved

            <div>
                Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </div>
        </div>
        <div class="second-part-footer-bottom">
            Home <div style="margin-left: 20px; margin-right: 20px">|</div> Cookies <div
                style="margin-left: 20px; margin-right: 20px">|</div> Help <div
                style="margin-left: 20px; margin-right: 20px">|</div>FQAs
        </div>
    </div>
</div>