<div style="min-width: 100%; margin-bottom: 80px; margin-top: 80px;">
    <div class="title-contact-container">
        <div class="contact-title">
            <div class="bar-title" style="margin-right: 10px;"></div>
            <div style="margin-top: -10px">Testimonial</div>
            <div class="bar-title" style="margin-left: 10px;"></div>
        </div>
        <div class="contact-main-title">Our Clients Say!!!</div>
    </div>

    <ngx-slick-carousel [config]="slideConfig" class="carousel-container">
        <div slickItem *ngFor="let testimonial of testimonials" class="testimonial-card">
            <div class="quote-icon"><fa-icon [icon]="faQuoteLeft" style="font-size: 50px;"></fa-icon></div>
            <p>{{ testimonial?.text }}</p>
            <div class="client-info">
                <!-- <img src="{{ testimonial.image || 'assets/default-avatar.png' }}" alt="Client Image"
                    class="client-image"> -->
                <div>
                    <strong>{{ testimonial.customer_name }}</strong><br>
                    <span>{{ testimonial.customer_job }}</span>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>