.first-section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem !important;

  .left-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem !important;

    .image-container {
      display: flex;
      width: 45%;
      padding: 7px;
    }
    .about-img {
      width: 100%;
    }
  }
  .right-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

    .numbers-container {
      display: flex;
      display: flex;
      width: 100%;

      margin-top: 20px;

      .single-number {
      }
    }

    .button-container {
      margin-top: 20px;
      width: 200px;
    }
  }
}

.team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: top;
  /* max-width: 1000px; */
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 1250px;
}

.team {
  display: flex;
  justify-content: center;
  height: 450px;
}

.title-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.about-title {
  display: flex;
  flex-direction: row;
  font-family: var(--footer-font);
  color: var(--bs-primary);
  font-size: 20px;
}

.about-main-title {
  font-size: calc(1.2rem + 1.5vw);
  font-family: var(--primary-font);
  color: rgb(0, 0, 0);
}

@media (max-width: 1300px) {
  .team-container {
    width: 1000px;
  }
}

@media (max-width: 1100px) {
  .team-container {
    max-width: 900px;
  }
}

@media (min-width: 1000px) {
  .left-section {
    width: 50%;
  }

  .right-section {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .first-section-about {
    flex-direction: column;
    padding: 1.5rem !important;

    .left-section {
      padding: 50px;
      justify-content: center;
    }

    .right-section {
      padding: 1rem;
      max-width: 700px;
    }
  }

  .team-container {
    max-width: 700px;
  }

  .team {
    min-height: 800px;
  }
}
@media (max-width: 600px) {
  .numbers-container {
    flex-direction: column;

    .single-number {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .team-container {
    max-width: 500px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 1200px;
  }

  .team {
    min-height: 1400px;
  }
}

@media (max-width: 800px) {
  .team-container {
    width: 100%;
  }
}
