<!-- Toolbar -->
<div class="app">
  <div *ngIf="isScrolledDown && innerWidth > 1000" class="toolbar">
    <app-header [windowWidth]="innerWidth"></app-header>
  </div>

  <div class="cover">
    <div class="blue-overlay">
      <app-header [windowWidth]="innerWidth"></app-header>
      <app-cover *ngIf="currentPage === ''" [windowWidth]="innerWidth"></app-cover>
      <app-cover *ngIf="currentPage !== ''" [title]="pageTitle" [path]="currentPage"
        [windowWidth]="innerWidth"></app-cover>
    </div>
  </div>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <div class="main-container">
    <app-footer style="width: 100%"></app-footer>
  </div>
</div>




<!-- <div class="app">
  <div *ngIf="isScrolledDown && innerWidth>1000" class="toolbar">
    <app-header [windowWidth]="innerWidth"></app-header>
  </div>
  <div class="cover">
    <div class="blue-overlay"> 
      <app-header [windowWidth]="innerWidth"></app-header>
      <app-cover *ngIf="currentPage === ''" [windowWidth]="innerWidth"></app-cover>
      <app-cover *ngIf="currentPage !== ''" [title]="pageTitle" [path]="currentPage"
        [windowWidth]="innerWidth"></app-cover>
    </div>
  </div>

  <div class="main-container">
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <h1>TEMPORARY TEXT</h1>
    <app-footer style="width: 100%"></app-footer>
  </div>
</div> -->