.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: purple;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover {
  width: 100%;
  max-width: 1320px;
  background-image: url("../assets/images/bg-hero.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.blue-overlay {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-color: rgba(2, 12, 44, 0.8);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1320px;
}

@media (max-width: 1400px) {
  .main-container {
    min-width: 100%;
  }
}
