<div class="card-container">
    <div class="card">
        <div class="image-container">
            <div class="overlay"></div>
            <img [src]="picture" class="image" alt="Chef Image" />
        </div>
        <div class="team-title">{{fullName}}</div>
        <div class="team-text">{{designation}}</div>

    </div>
    <div class="card-bottom">
        <div class="social-links">
            <div class="social-icons-container">
                <div class="icon-container">
                    <a href="#"><img src="../../../assets/images/iconsSocials/icons8-youtube.svg"
                            class="social-icon" /></a>
                </div>
                <div class="icon-container">
                    <a href="#"><img src="../../../assets/images/iconsSocials/icons8-twitter-bird.svg"
                            class="social-icon" /></a>
                </div>
                <div class="icon-container">
                    <a href="#"><img src="../../../assets/images/iconsSocials/linkedin-svgrepo-com.svg"
                            class="social-icon" /></a>
                </div>
            </div>
        </div>
    </div>
</div>