<div style="min-width: 100%; margin-bottom: 80px; margin-top: 80px;">
    <div class="title-contact-container">

        <div class="contact-title">
            <div class="bar-title" style="margin-right: 10px;"></div>
            <div style="margin-top: -10px">Team Members</div>
            <div class="bar-title" style="margin-left: 10px;"></div>
        </div>
        <div class="contact-main-title">Our Master Chefs</div>
    </div>
    <div class="team">
        <div class="team-container">
            <app-chef-card [fullName]="'Full Name'" [designation]="'Designation'" [picture]="ImageTeam1"
                class="single-chef"></app-chef-card>
            <app-chef-card [fullName]="'Full Name'" [designation]="'Designation'" [picture]="ImageTeam2"
                class="single-chef"></app-chef-card>
            <app-chef-card [fullName]="'Full Name'" [designation]="'Designation'" [picture]="ImageTeam3"
                class="single-chef"></app-chef-card>
            <app-chef-card [fullName]="'Full Name'" [designation]="'Designation'" [picture]="ImageTeam4"
                class="single-chef"></app-chef-card>
            <app-chef-card [fullName]="'Full Name'" [designation]="'Designation'" [picture]="ImageTeam1"
                class="single-chef"></app-chef-card>
            <app-chef-card [fullName]="'Full Name'" [designation]="'Designation'" [picture]="ImageTeam2"
                class="single-chef"></app-chef-card>
            <app-chef-card [fullName]="'Full Name'" [designation]="'Designation'" [picture]="ImageTeam3"
                class="single-chef"></app-chef-card>
            <app-chef-card [fullName]="'Full Name'" [designation]="'Designation'" [picture]="ImageTeam4"
                class="single-chef"></app-chef-card>
        </div>
    </div>
</div>