<div style="min-width: 100%; margin-bottom: 80px; margin-top: 80px;">
    <div class="title-service-container">

        <div class="service-title">
            <div class="bar-title" style="margin-right: 10px;"></div>
            <div style="margin-top: -10px">Our Services</div>
            <div class="bar-title" style="margin-left: 10px;"></div>
        </div>
        <div class="service-main-title">Explore Our Services</div>
    </div>
    <div class=" cards-container">
        <div class="single-card-container">
            <app-card-service [icon]="faUserTie" [title]="'Master Chefs'"
                [text]="'Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam'"></app-card-service>
        </div>
        <div class="single-card-container">
            <app-card-service [icon]="faUtensils" [title]="'Quality Food'"
                [text]="'Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam'"></app-card-service>
        </div>
        <div class="single-card-container">
            <app-card-service [icon]="faCartPlus" [title]="'Online Order'"
                [text]="'Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam'"></app-card-service>
        </div>
        <div class="single-card-container">
            <app-card-service [icon]="faHeadset" [title]="'24/7 Service'"
                [text]="'Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam'"></app-card-service>
        </div>
        <div class="single-card-container">
            <app-card-service [icon]="faUserTie" [title]="'Master Chefs'"
                [text]="'Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam'"></app-card-service>
        </div>
        <div class="single-card-container">
            <app-card-service [icon]="faUtensils" [title]="'Quality Food'"
                [text]="'Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam'"></app-card-service>
        </div>
        <div class="single-card-container">
            <app-card-service [icon]="faCartPlus" [title]="'Online Order'"
                [text]="'Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam'"></app-card-service>
        </div>
        <div class="single-card-container">
            <app-card-service [icon]="faHeadset" [title]="'24/7 Service'"
                [text]="'Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam'"></app-card-service>
        </div>
    </div>
</div>